@using Projekt.Models
@model Projekt.Models.Employee
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    string identity = string.Empty;

    if (HttpContextAccessor.HttpContext.Session.GetString("Admin") == null)
    {
        HttpContextAccessor.HttpContext.Response.Redirect("Start");
    }
    else
    {
        identity = HttpContextAccessor.HttpContext.Session.GetString("Admin");
    }

    ViewBag.Title = "Ny medarbetare";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@using (Html.BeginForm("RegisterEmpl", "Admin", FormMethod.Post,
   new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>Ny Medarbetare</h2>
        <p class="lead">Lägg in ny medarbetare</p>
        <hr />
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.First_name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.First_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.First_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Last_name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Last_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Last_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Department, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Department,
              new SelectList(DepartmentHandler.GetSortedDepartments(), "Value", "Value"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger" })
            </div>
        </div>
        <div id="emplbild">
            @Html.Label("Frivilligt foto", "Frivilligt foto", htmlAttributes: new { @id = "fotolab", @class = "control-label col-md-2" })
            <input type="file" name="Image" />  &nbsp; <br />
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-12">
                <input type="submit" value="Skicka" class="sendknapp btn btn-primary" />
                <input type="reset" name="cancel" id="reset" value="Rensa" class="sendknapp btn btn-danger" />
            </div>
        </div>
    </div>
}
<br />
<br/>
<div class="red-text-danger">
    <p><b>@ViewBag.Information</b></p>
</div>
<br />
<br />
<div class="links">
    <p>@Html.ActionLink("Tillbaka", "Adminsida", "Admin")</p>
</div>